.NewsImageContainer{
    float: left;
    margin-right:7px;
    margin-bottom: 10px;
}
.NewsImageContainer h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}